@font-face {
	font-family: "Arial Bold";
	src: url("../fonts/arialbd.ttf") format("truetype");
}
@font-face {
	font-family: "Fox Cavalier";
	src: url("../fonts/fox-cavalier.otf") format("opentype");
}

body {
	margin: 0px auto;
	width: 1920px;
	height: 1080px;

	background: url("../images/ecc-background.png") no-repeat fixed center;
	background-size: 1920px 1080px;

	font-family: "Arial Bold";
	color: white;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin: 0px;
}

.game-box {
	border: 1px solid white;
}

#icon {
	content: url("../images/16-9/ecc-small-logo.png");
}
#wordmark {
	content: url("../images/16-9/ecc-large-logo.png");
}

#event-name {
	text-shadow: 2px 2px #ff009c, 4px -1px #00b4ff;
	font-family: "Fox Cavalier";
	font-size: 3.5em;
}

#game #name {
	font-family: "Arial Bold";
	font-size: 2em;
}
#runners #name {
	font-family: "Arial Bold";
	font-size: 2em;
}
.specifier {
	background-color: white;
	color: black;
	position: relative;
	top: -12px;
	padding: 3px;
	margin: 3px;
	border-radius: 5px;
}
