/* wide ratios: 16:9 and 3:2*/

.aspect-3-2 #feeds,
.aspect-16-9 #feeds {
	position: fixed;
	left: 156px;
	top: 2px;
	width: 1760px;
	height: 990px;
}

.aspect-16-9 #feeds #runner1 {
	width: 100%;
	height: 100%;
}
.aspect-3-2 #feeds #runner1 {
	margin: auto;
	width: 1485px;
	height: 100%;
}

.aspect-3-2 #icon,
.aspect-16-9 #icon {
	position: fixed;
	width: 105px; 
	height: 98px; 
	top: 24px;
	left: 31px;
}
.aspect-3-2 #wordmark,
.aspect-16-9 #wordmark {
	position: fixed;
	top: 996px;
	left: 1449px;
	width: 471px;
	height: 84px;
}

.aspect-3-2 #info #event-name,
.aspect-16-9 #info #event-name {
	position: fixed;
	left: 0px;
	top: 160px;
	width: 154px;
	height: 837px;

	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: center;
	line-height: 154px; /* causes 'vertical' centering. Ugly, do better. */
}

.aspect-3-2 #info #game,
.aspect-16-9 #info #game {
	position: fixed;
	left: 154px;
	top: 996px;
	width: 600px;
	height: 84px;
}
.aspect-3-2 #info #runner1,
.aspect-16-9 #info #runner1 {
	position: fixed;
	left: 765px;
	top: 996px;
	width: 750px;
	height: 84px;
}


/* 'square' ratios: 4:3 and 10:9 */

.aspect-4-3 #feeds,
.aspect-10-9 #feeds {
	position: fixed;
	left: 508px;
	top: 18px;
	width: 1398px;
	height: 1050px;
}

.aspect-4-3 #feeds #runner1 {
	width: 100%;
	height: 100%;
}
.aspect-10-9 #feeds #runner1 {
	margin: auto;
	width: 1166px;
	height: 100%;
}

.aspect-4-3 #icon,
.aspect-10-9 #icon {
	content: url("../images/4-3/ecc-qlogo-big.png");
	position: fixed;
	left: 136px;
	top: 60px;
	width: 240px; 
	height: 223px; 
}
.aspect-4-3 #wordmark,
.aspect-10-9 #wordmark {
	position: fixed;
	left: 28px;
	top: 332px;
	width: 471px;
	height: 84px;
}

.aspect-4-3 #info,
.aspect-10-9 #info {
	border: 1px solid white;
	background-color: rgba(51,51,51,0.4);
	position: fixed;
	left: 18px;
	top: 436px;
	width: 474px;
	height: 632px;
}

.aspect-4-3 #info #event-name,
.aspect-10-9 #info #event-name {
	margin-top: 10px;
	text-align: center;
}

.aspect-4-3 #info #game,
.aspect-10-9 #info #game {
	margin-left: 18px;
	margin-top: 18px;
}
.aspect-4-3 #info #game #name,
.aspect-10-9 #info #game #name {
	margin-left: 10px;
}
.aspect-4-3 #info #runner1,
.aspect-10-9 #info #runner1 {
	margin-left: 18px;
	margin-top: 28px;
}
.aspect-4-3 #info #runner1 #name,
.aspect-10-9 #info #runner1 #name {
	margin-left: 10px;
}