/* wide ratios: 16:9*/

.aspect-16-9 #feeds #runner1 {
	position: fixed;
	left: 0px;
	top: 186px;
	width: 955px;
	height: 538px;
}
.aspect-16-9 #feeds #runner2 {
	position: fixed;
	left: 963px;
	top: 186px;
	width: 955px;
	height: 538px;
}

.aspect-16-9 #icon {
	content: url("../images/4-3/ecc-qlogo-big.png");
	position: fixed;
	left: 43px;
	top: 27px;
	width: 148px; 
	height: 138px; 
}
.aspect-16-9 #wordmark {
	position: fixed;
	left: 1440px;
	top: 56px;
	width: 471px;
	height: 84px;
}

.aspect-16-9 #info #event-name {
	position: fixed;
	left: 280px;
	top: 66px;
	width: 1090px;
}

.aspect-16-9 #info {
	border: 1px solid white;
	background-color: rgba(51,51,51,0.4);
	position: fixed;
	left: 641px;
	top: 730px;
	width: 638px;
	height: 349px;
}

.aspect-16-9 #info #runners #runner1 {
	position: fixed;
	left: 0px;
	top: 730px;
	width: 636px;
	height: 349px;
}

.aspect-16-9 #info #runners #runner2 {
	position: fixed;
	left: 1288px;
	top: 730px;
	width: 636px;
	height: 349px;
}

.aspect-16-9 #info #game {
	margin-left: 18px;
	margin-top: 25px;
}
.aspect-16-9 #info #game #name {
	margin-left: 10px;
}
.aspect-16-9 #info #runner1 {
	margin-left: 18px;
	margin-top: 28px;
}
.aspect-16-9 #info #runner2 {
	margin-left: 18px;
	margin-top: 28px;
}
.aspect-16-9 #info #runner1 #name {
	margin-left: 10px;
}
.aspect-16-9 #info #runner2 #name {
	margin-left: 10px;
}