#icon {
	content: url("../images/4-3/ecc-qlogo-big.png");
	position: fixed;
	left: 43px;
	top: 900px;
	width: 148px; 
	height: 138px; 
}
#event {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 1190px;
	height: 100%;
}
#event #event-name {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 4em;
	padding-top: 20px;
}
#event img {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	/* need to center and enlarge and add about 10px margin above */
}

#nextrun {
	border: 1px solid white;
	background-color: rgba(51,51,51,0.4);
	position: fixed;
	left: 1200px;
	top: 10px;
	width: 638px;
	padding: 10px;
}

#nextrun #game {
	margin-left: 18px;
	margin-top: 25px;
}
#nextrun #game #name {
	margin-left: 10px;
}
#nextrun #runners {
	margin-left: 18px;
	margin-top: 25px;
}
#nextrun #runner1 #name {
	margin-left: 10px;
}
#nextrun #runner2 #name {
	margin-left: 10px;
}
#nextrun #runner3 #name {
	margin-left: 10px;
}
#nextrun #runner4 #name {
	margin-left: 10px;
}